<h1>Updating Travel</h1>

<%= render 'form', travel: @travel %>

<%= link_to 'Show', @travel, class:"btn btn-outline-primary", title:"Show" %> |
<%= link_to 'Back', travels_path, class:"btn btn-outline-info", title:"Back" %>
