<h1>Editing Car</h1>

<%= render 'form', car: @car %>

<%= link_to 'Show', @car, class:"btn btn-outline-primary", title:"Show" %> |
<%= link_to 'Back', cars_path, class:"btn btn-outline-info", title:"Back" %>
